POSTGRES_URL=postgresql://user:password@host:port/database
YOUTUBE_API_KEY=youtube_api_key
YTDLP_CACHE_DIR_PATH=/home/user/app/podcast_cache
LOG_DIR_PATH=/home/user/app/podcast_log
CONFIG_FILE=/home/user/app/config.toml